#column-left {
	width: 235px;
	height: 200px;
	float: left;
	padding: 18px;
	
}
 
#column-center {
	width: 235px;
	height: 200px;
	float: left;
	padding: 18px;
}
 
#column-right {
	width: 235px;
	height: 200px;
	float: left;
	padding: 18px;
}

div {
    column-gap: 15px;
}

body {
  font-size: 18px;
}    
