
#column-left {
	width: 230px;
	height: 200px;
	float: left;
}
 
#column-center {
	width: 230px;
	height: 200px;
	float: left;
}
 
#column-right {
	width: 230px;
	height: 200px;
	float: left;
}

div {
    column-gap: 10px;
}

body {
  font-family: 'Open Sans', serif;
  font-size: 13px;
}    
