
#column-left {
	width: 245px;
	height: 200px;
	float: left;
	padding: 5px;
}
 
#column-center {
	width: 245px;
	height: 200px;
	float: left;
	padding: 5px;
}
 
#column-right {
	width: 245px;
	height: 200px;
	float: left;
	padding: 5px;
}

div {
    column-gap: 20px;
}

body {
  font-family: 'Open Sans', serif;
  font-size: 13px;
}    
