
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #D7D7D7;
  font-family: 'Lato', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 14px;
  color: #9E9E9E;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #9E9E9E;
  padding: 5px 5px;
  background-color: inherit;
  font-family: 'Lato', sans-serif;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #EDEDED;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #9E9E9E;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #9B9B9B;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
