.clearfix:after {
    display:block;
    clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    background:#FFFFFF;
    body: {width:100%;};
}

.menu {
    width:800px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:'Lato', sans-serif;
    width: 160px;
}

.menu a {
    transition:all linear 0.15s;
    color:#000000;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#A0A0A0;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:18px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    transition:all linear 0.15s;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#D7D7D7;
    width: 80px;
    transition:all linear 0.15s;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    width: 160px;
}

.sub-menu {
    width:160px;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    background:#FFFFFF;
}

.sub-menu li {
    display:block;
    font-size:16px;
    width: 160px;
}

.sub-menu li a {
    padding:10px 10px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#D7D7D7;
    width: 140px;
    
