/* USUAL STUFF */
body { margin:10px auto; text-align:center; }
.content { max-width:205px;text-align:left; margin:auto; }

/* THE DIV */
.simple-ss {
  width:205px;
  height:205px;
  margin:auto;
  background-image:url="/Screen Shot 2018-01-14 at 10.23.07 PM.png";
  background-position:0;
  background-repeat:no-repeat;
  background-size:cover;

/* ANIMATING STUFF */
  animation-name: slide;
  animation-duration: 13s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* NOTE CODEPEN AUTOGENERATING -PREFIXES */
@keyframes slide {
  0% {background-position:0 0;}
  16.66% {background-position:0 0;}
  33.32% {background-position:-800px 0;}
  49.98% {background-position:-800px 0;}
  66.64% {background-position:-1600px 0;}
  83.30% {background-position:-1600px 0;}
  100% {background-position:0 0;}
}
