<!DOCTYPE html>
<html>
	<head>
		<center><title>{{page title}}</title></center>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul>
			font-family: 'Open Sans', serif;
  			font-size: 20px;
        		<li><a href="/">Home</a></li>
	        	<li><a href="/notes">Notes</a></li>
        		<li><a href="https://www.sciencenews.org/">News</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
		{{content}}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:megan16scarlett@gmail.com">email</a></li>
			</ul>
		</footer>
    <!-- Static botoom navbar -->
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/footer.css">
    <nav class="navbar navbar-default navbar-fixed-bottom">
<center> 
      <div class="container">
        <div class="collapse navbar-collapse" id="jb-bottom-collapse">
          <ul class="nav navbar-nav navbar-left navbar-small">
            <li>
              <a href="https://apstudent.collegeboard.org/home">Explore AP</a>
            </li>
            <li>
              <a href="https://blog.prepscholar.com/list-of-ap-exams">All AP Courses</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-small">
            <li>
              <a href="https://meganscarlett.github.io/about.html#about-the-site">About the Site</a>
            </li>
            <li>
              <a href="https://meganscarlett.github.io/contact.html#contact-me">Contact</a>
            </li>
          </ul>
        </div> 
	       </center>
 <!-- Maybe add navbar collapse --> 
      
	</body>
</html>
