<!DOCTYPE html>
<html>
	<head>
		<center><title>{{page title}}</title></center>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>	
			
			<body style="background: #F7F7F7; margin: 0pt; " onLoad="onPageLoad();">
    <div style="text-align: center; ">
      <div style="margin-bottom: 0px; margin-left: auto; margin-right: auto; margin-top: 10px; overflow: hidden; position: relative;  background: #ffffff; text-align: left; width: 720px; " id="body_content">
        <div style="margin-left: 0px; position: relative; width: 720px; z-index: 0; " id="nav_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div style="height: 142px; width: 720px; left: 0px; position: absolute; top: 0px; width: 714px; z-index: 1; " class="tinyText stroke_0">
            <div style="position: relative; width: 720px; "><a href="index.html"><img src="images/topbanner_merged.jpg" alt="" style="height: 142px; left: 0px; position: absolute; top: 0px; width: 720px;"></a></div>
          </div>
           <div style="clear: both; height: 142px; line-height: 5px; " class="spacer"> </div>
        </div>
        <div style="height: 480px; margin-left: 0px; position: relative; width: 720px; z-index: 10; " id="header_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <ul id="MenuBar1" class="MenuBarHorizontal">
            <li><a href="index.html" class="style_SkipStroke_3">Home</a></li>
            <li><a class="MenuBarItemSubmenu" href="Research.html">Research</a>
              <ul>
                  <li><a href="Research.html">Overview</a></li>
                  <li><a href="Brain_Imaging.html">Neuroimaging & Neurovascular Coupling</a></li>
                                   <li><a href="Instrumentation.html">Imaging Technology</a></li>
<li><a href="Molecular.html">Molecular Imaging</a></li>
                  <li><a href="Skin_Imaging.html">Skin Imaging</a></li>
                   <li><a href="Cardiac_Imaging.html">Cardiac Imaging</a></li>
                   <li><a href="Modeling.html">Light Propagation</a></li>
                 
              </ul>
            </li>
            <li><a href="People.html" class="MenuBarItemSubmenu">People</a>
              <ul>
                <li><a href="Hillman.html">Lab Director</a></li>
                <li><a href="People.html#Postdocs">Post-docs</a></li>
                <li><a href="People.html#GradStudents">Graduate Students</a></li>
                <li><a href="People.html#Staff">Staff</a></li>
                <li><a href="People.html#Undergrads">Undergraduates</a></li>
                <li><a href="People.html#Alumni">Alumni</a></li>
              </ul>
            </li>
            <li><a class="MenuBarItemSubmenu" href="Publications.html">Publications</a>
              <ul>
                  <li><a href="Publications.html#Journals">Journals</a> </li>
                  <li><a href="Publications.html#Abstracts">Abstracts</a></li>
                  <li><a href="Publications.html#Theses">Theses</a></li>
              </ul>
            </li>
            <li><a href="Teaching.html" class="MenuBarItemSubmenu">Teaching</a>
              <ul>
                <li><a href="Teaching.html#Design">Senior Design</a></li>
                <li><a href="Teaching.html#Microscopy">Advanced Microscopy</a></li>
              </ul>
            </li>
            <li><a href="Contact.html">Contact</a></li>
          </ul>
          

<!-- dropdown menu -->
<link rel="stylesheet" type="text/css" href="/css/menu.css">
<div style="font-size: 20px"><center><li><a href="/">Home</a></li>
<li><a href="/notes">Notes</a></li>
<div class="dropdown">
    <button class="dropbtn" <li><a href="https://www.sciencenews.org/">News</a></li></center> 
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a></div>
    </div>
  	</ul>
		</nav>
		

<link rel="stylesheet" type="text/css" href="/css/main.css">	
		<div class="container">
    		
		{{content}}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:megan16scarlett@gmail.com">email</a></li>
			</ul>
		</footer>
    <!-- Static botoom navbar -->
	<!-- link to footer stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <nav class="navbar navbar-default navbar-fixed bottom">
<center> 
      <div class="container">
	      <div class="navbar-header"></div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	 <div class="navbar-collapse collapse" id="jb-bottom-collapse" style="height: 1 px;"></div>
          <ul class="nav navbar-nav navbar-left navbar-small">
            <li>
              <a href="https://apstudent.collegeboard.org/home">Explore AP</a>
            </li>
            <li>
              <a href="https://blog.prepscholar.com/list-of-ap-exams">All AP Courses</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-small">
            <li>
              <a href="https://meganscarlett.github.io/about.html#about-the-site">About the Site</a>
            </li>
            <li>
              <a href="https://meganscarlett.github.io/contact.html#contact-me">Contact</a>
            </li>
          </ul>
        </div> 
 <!-- /.navbar collapse --> 
	    </div>
		</nav>
	        </center>
	</body>
</html>
